# Wolfram Workbench
.WolframResources
.project

# Draft versions of various documentation files
/Drafts/
/TODO.md

# A clone of the GitHub respository for quantum signal processing
/QSPPACK/

# Some reproducible images.
/Logo/*.png
/Logo/*.jpg

# Generated PDF files
TeXNotes/*.notes.pdf
