# Wolfram Workbench
.WolframResources
.project

# Draft versions of various documentation files
/Drafts/

# Some reproducible images.
/Logo/*.png
/Logo/*.jpg

# Generated PDF files
TeXNotes/*.notes.pdf